* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    width: 100%;
}

header {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 100px
}

img {
    width: 150px;
    height: 150px;
    transform: rotateX(180deg);
    transition: all 1s;
    perspective: 500
}

img:hover {
    transform: rotateY(360deg);
    transform: rotateZ(90deg);
    width: 220px;
    height: 220px;
    border-radius: 110px
}

span {
    font-size: 30px;
    position: relative;
    top: -75px
}

.label {
    font-size: 80px;
    text-align: center;
    position: static;
    top: 0px;
}
